In [22]:
import mysql.connector
import yaml
import pandas as pd

In [10]:
with open('../config.yaml', 'r', encoding='UTF-8') as cfg:
    config = yaml.safe_load(cfg)

mysql_password = config['mysql_password']

In [9]:
cnx = mysql.connector.connect(
    host="localhost",
    user="michellvagner",
    password=mysql_password
)

In [11]:
cursor = cnx.cursor()

In [20]:
cursor.execute("CREATE DATABASE IF NOT EXISTS dbprodutos;")

In [17]:
rows = cursor.fetchall()

In [18]:
cursor.execute("SHOW DATABASES;")

for db in cursor:
    print(db)

('dbprodutos',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [25]:
df_livros = pd.read_csv('../data/tabela_livros.csv')
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,68e13ab7c1ddf79092dae7d0,Dashboards com Power BI,livros,43.35,3.248105,2023-03-01,Rafael Costa,BA,5,cartao_credito,2,-13.29,-41.71
1,68e13ab7c1ddf79092dae821,Dashboards com Power BI,livros,46.87,0.000000,2021-07-01,Beatriz Moraes,RS,5,cartao_credito,8,-30.17,-53.50
2,68e13ab7c1ddf79092dae87a,Ciência de dados com python,livros,80.32,1.861237,2021-10-01,Rafael Costa,SP,4,cartao_credito,2,-22.19,-48.79
3,68e13ab7c1ddf79092dae888,Dashboards com Power BI,livros,54.59,3.189879,2022-10-01,Juliana Costa,SP,3,cartao_credito,8,-22.19,-48.79
4,68e13ab7c1ddf79092dae891,Iniciando em programação,livros,60.27,3.492322,2021-11-01,Juliana Costa,SP,5,cartao_credito,1,-22.19,-48.79

In [26]:
df_livros.columns

Index(['_id', 'Produto', 'Categoria do Produto', 'Preço', 'Frete',
       'Data da Compra', 'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'Latitude', 'Longitude'],
      dtype='object')

In [27]:
df_livros.shape

(1484, 13)

In [28]:
cursor.execute("""
        CREATE TABLE IF NOT EXISTS dbprodutos.tb_livros(
                id VARCHAR(100),
                Produto VARCHAR(100),
                Categoria_Produto VARCHAR(100),
                Preco FLOAT(10,2),
                Frete FLOAT(10,2),
                Data_Compra DATE,
                Vendedor VARCHAR(100),
                Local_Compra VARCHAR(100),
                Avaliacao_Compra INT,
                Tipo_Pagamento VARCHAR(100),
                Qntd_Parcelas INT,
                Latitude FLOAT(10,2),
                Longitude FLOAT(10,2),

                PRIMARY KEY (id)     
        );

""")

In [29]:
cursor.execute("USE dbprodutos;")

In [30]:
cursor.execute("SHOW TABLES;")

for db in cursor:
    print(db)

('tb_livros',)